body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #eee;
    font-weight: 700;
    font-family: "Courier 10 Pitch", sans-serif;
    text-align: center;
}

header, footer, .controls {
    border: 2px solid #eee;
}

.pannel {
    
}

.controls {
    position: absolute;
    right: 150px;
    top: 30px;
    padding: 15px;
    background-color: #222;
    color: #cccccc;
}

.controls h2 {
    padding-bottom: 7px;
    border-bottom: 1px solid #aaa;
}

.controls h2, .controls h3, .controls p {
    margin: 0 0 15px 0;
}

[class*="score"] {
    font-size: 2em;
}

footer {
}